body {
  margin: 0;
  text-align: center;
  background-color: #303b44;
}

header {
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid #000;
}

h1 {
  color: #fff;
  font-size: 14px;
}

button {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 10px;
}